<div id="calendar"></div>
<script type="text/javascript">
	$(document).ready(function() {
	    if (!window.configure_calendar){
	    	window.configure_calendar = {};
	    }
	    var data = {{data|safe }};
	    var str = "";
	    for (var i in data){
	    	if (prototype.toString.call( data[i] ) === '[object Array]'){
	    	   str += i + "=" + data[i][0];
	    	}else{
	    	   str += i + "=" + data[i];
	    	}
	    }
	    configure_calendar['events'] = '{{url}}?' + str;
	    if (!configure_calendar['ontentHeight']){
	    	configure_calendar['ontentHeight'] = 'auto';
	    }
	    $('#calendar').fullCalendar(configure_calendar);
	});
</script>
